.terraform/providers/registry.terraform.io/databricks/databricks/1.38.0/darwin_arm64/CHANGELOG.md
.terraform/providers/registry.terraform.io/databricks/databricks/1.38.0/darwin_arm64/LICENSE
.terraform.lock.hcl
.terraform/providers/registry.terraform.io/databricks/databricks/1.38.0/darwin_arm64/terraform-provider-databricks_v1.38.0
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.96.0/darwin_arm64/terraform-provider-azurerm_v3.96.0_x5
.terraform/providers/registry.terraform.io/databricks/databricks/1.38.0/darwin_arm64/NOTICE
